.ipynb_checkpoints
__pycache__
.worktrees
files
index
temp/*
chroma-collections.parquet
chroma-embeddings.parquet
.DS_Store
.env
.env.local
notebook
SDK/*
log/*
logs/
parts/*
json_results/*

/labbook/知识库测试集/*
/labbook/知识库测试集_pdf/*
/labbook/cloud_results/*
/labbook/doc_index_results/*
/labbook/results/*
